body {
    background-color: #022332;
}

line {
    stroke: #ffffff;
}

.label {
    fill: #fff;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    width: 50px;
    height: 25px;
    background-color: #fff;
    opacity: 0.8;
    color: #000;
    text-align: center;
}